.container {
    margin-top: 30px;
    max-width: 450px;
  }
  body {
    font-family: 'Arima Madurai', cursive;
  }
  .container-sm1,
  .container-sm2,
  footer{
    background-image: url(img/background-sky.jpg);
    background-size: 100%;
  }
  
  .container-sm1,
  .container-sm2 {
    max-width: 450px;
    border-width: 2px;
    border-style: solid;
    border-color: #d3d6db;
    text-align: center;
    border-radius: 3px;
    color: #5689c4;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
      rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  }
  .container-sm1 {
    margin-bottom: 15px;
    padding-top: 10px;
  }
  .container-sm2 {
    margin-bottom: 15px;
  }
  #forecast {
    margin-top: 10px;
    margin-bottom: 5px;
  }
  .main {
    font-size: 26px;
    font-weight: 600;
    color: #5689c4;
    margin-bottom: 5px;
  }
  ul {
    list-style: none;
    text-align: left;
  }
  #city-input {
    border-color: #bccee4 height 30px;
    border-style:none;
    opacity: 60%;
    font-size: 15px;
    border-radius: 3px;
    width: 280px;
    color: #5689c4;
  }
  input:focus {
     outline: none;
  }
  #button {
    background: #5689c4; 
    color:#f1ece7;
    border-color: #5689c4; 
    border-style:hidden;
    border-radius: 3px;
    font-weight: 600;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    padding-top: 5px;
    font-size: 15px;
    text-align: center;
    position: relative;
    bottom: -2px;
  }
  #button:hover {
    cursor: pointer;
    background: none;
    color:#4c79adcd; 
    border-color:#f7fbfc; 
    transition: ease-in-out 200ms;
    border-style: solid;
    border-width: 0.5px;
  }
  .date,
  .time {
    font-size: 10px;
    color: #769fcd; 
    font-weight: 600;
  }
  .date {
    position: relative;
    right: 99px;
  }
  .time {
    position: relative;
    left: 19px;
  }
  .secondary {
    font-weight: 600;
    color: #5689c4; 
    text-align: left;
    padding: 0 40px;
    margin-top: 15px;
    font-size: 18px;
  }
  .city {
    font-size: 40px;
    color: #5689c4; 
    padding: 0px;
    margin: 0px;
  }
  #place {
    color: #5689c4; 
    font-size: 23px;
    line-height: 1.2;
  }
  #details {
    color: #5689c4; 
    margin-top: 15px;
  }
  footer {
    max-width: 450px;
    font-size: 12px;
    border-width: 2px;
    border-style: solid;
    border-color: #d3d6db;
    color: #769fcd; 
    padding: 5px 25px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
      rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  }
  
  #now {
    font-size: 28px;
  }
  .feels {
    font-size: 20px;
  }
  #descriptionW {
    text-transform: capitalize;
  }
  #git {
      text-decoration: underline;
      color:#8fb7cf; 
  }
  